<div id="footer">
    &copy; @DateTime.Now.Year - 宁波市气象网络与装备保障中心
    @*@Html.Raw(ViewBag.Sign)*@
    <div class="span pull-right">
        <span class="go-top"><i class="icon-arrow-up"></i></span>
    </div>
</div>

@Html.Raw(ViewBag.JsFile)


